@page
@inject SignInManager<User> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>Book an event <a href="@Model.EventUrl">Click here</a>.</p>
    }
    else
    {
        <p>Sign-in to test book an event.</p>
    }
</div>
